.oe_product_cart .o_product_link{
    position: relative;
}
.css_quantity{
//     width: initial !important;
    .out_of_stock{
           cursor: not-allowed;
    }

    .js_add_cart_json{
       // padding: 11px !important;
    }

}
#add_to_cart_wrap{
    .as-quick-cart.out_of_stock{
        cursor: not-allowed !important;
    }
}

 .o_wsale_layout_list{
    .quantity{
        display: block;
        height: fit-content;
        line-height: 2.7;
    }
    .js_add_cart_json{
        padding: 10px !important;
        height: fit-content;
    }
}

.oe_product input.quantity {
    padding: 0.3rem !important;
    text-align: center;
}

.o_wsale_layout_list{
    .oe_product input.quantity {
        padding: 0 !important;
    }
}
@media only screen and (width: 820px){
  .oe_product input.quantity {
    padding: 2px !important;
  }
}

@media only screen and (width: 768px){
    .oe_product input.quantity {
        padding: 2px !important;
    }
}
#products_grid{
    [data-hide="True"]{
        display: none !important;
    }
}
#product_details{
    [data-hide="True"]{
        display: none !important;
    }
}
html[data-logged="false"]{
    .aoe_price, .as-qv-price, .css_quantity,.as_wish_btn, .as_wish_price{
        display: none !important;
    }
}